.container {
}
.width-100{
    width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.main-layout{
    max-width: 1350px;
    width: 100%;
    background: whitesmoke;
    border: 1px solid #c8e8e8;
    margin: 8px 0;
}
.back-button {
    color: #ffb547;
    font-size: 14px;
    margin-right: 20px;
    background: #848383;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #2d2d2d;
}
.underline{
    text-decoration: underline;
    color: blue !important;
}
.cust-border-top{
    border-top: 1px solid #d8d8d8;
}
.custom-text{
    font-size: 12px;
    color: rgba(0,0,0,.54);
}