<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div flex="40">
            <span class="back-button" ng-click="goBackToListStock()">< Back</span>
            <span>Company data - {{company.symbol | uppercase}} ({{selectedDataTime | uppercase}})</span>
        </div>
        <div flex="50" >
            <md-radio-group ng-model="selectedDataTime" layout="row" layout-align="end center" ng-change="loadDataSet()">
                <md-radio-button value="dump">Dump data</md-radio-button>
                <md-radio-button value="real">Real Time data</md-radio-button>
            </md-radio-group>
        </div>
    </div>
</md-toolbar>

<div id="hightChartContainer" ng-show="!isDataLoading" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<md-progress-linear md-mode="query" ng-if="isDataLoading"></md-progress-linear>
<md-table-container>
    <table md-table md-progress="promise">
        <thead md-head md-order="query.order">
        <tr md-row>
            <th md-column>Open</th>
            <th md-column>Close</th>
            <th md-column>Low</th>
            <th md-column>High</th>
            <th md-column>Volume</th>
            <th md-column>Date</th>
        </tr>
        </thead>
        <tbody md-body >
        <tr md-row ng-repeat="st in companyDetails.data | limitTo:query.limit:(query.limit * query.page -1)">
            <td md-cell>{{st.open}}</td>
            <td md-cell>{{st.close}}</td>
            <td md-cell>{{st.low}}</td>
            <td md-cell>{{st.high}}</td>
            <td md-cell>{{st.volume}}</td>
            <td md-cell>{{st.date | toDate | date:'dd-MM-yyyy'}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>
<div class="width-100 cust-border-top" layout="row" layout-align="space-between center">
    <div flex="40" layout="row" layout-align="end center">
        <span class="custom-text">Jump to page number(Total pages: {{getTotalPage(companyDetails.count, query.limit)}}): </span>
        <input type="number" ng-model="jumpToIndex" ng-change="jumpToSpecificindex(jumpToIndex)" class="custom-text">
    </div>
    <md-table-pagination flex="60" md-limit="query.limit" md-limit-options="[10, 20, 50, 100, 200]" md-page="query.page" md-total="{{companyDetails.count}}" md-page-select></md-table-pagination>
</div>

