<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Stock data ( Dump )</span>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getStockData">
        <tr md-row>
            <th md-column>Symbol</th>
            <th md-column>Open</th>
            <th md-column>Close</th>
            <th md-column>Low</th>
            <th md-column>High</th>
            <th md-column>Volume</th>
            <th md-column>Date</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="st in desserts.data | limitTo:query.limit">
            <td md-cell ng-click="onRowClick(st)" class="underline">{{st.symbol}}</td>
            <td md-cell>{{st.open}}</td>
            <td md-cell>{{st.close}}</td>
            <td md-cell>{{st.low}}</td>
            <td md-cell>{{st.high}}</td>
            <td md-cell>{{st.volume}}</td>
            <td md-cell>{{st.date | toDate | date:'dd-MM-yyyy'}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>
<md-progress-linear md-mode="query" ng-if="isDataLoading"></md-progress-linear>

<div class="width-100 cust-border-top" layout="row" layout-align="space-between center">
    <div flex="40" layout="row" layout-align="end center">
        <span class="custom-text">Jump to page number(Total pages: {{getTotalPage(desserts.count, query.limit)}}): </span>
        <input type="number" ng-model="jumpToIndex" ng-change="jumpToSpecificindex(jumpToIndex)" class="custom-text">
    </div>
    <md-table-pagination flex="60" md-limit="query.limit" md-limit-options="[10, 20, 50, 100, 200]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getStockData" md-page-select></md-table-pagination>
</div>


