<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Test Application</title>

    <script src="./../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./../bower_components/angular/angular.min.js"></script>
    <script src="./../bower_components/angular-animate/angular-animate.min.js"></script>

    <script src="./../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./../bower_components/angular-material/angular-material.min.js"></script>
    <script src="./../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="./../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./../bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="./../bower_components/highcharts/highcharts.js"></script>

    <link rel="stylesheet" href="./../bower_components/angular-material/angular-material.min.css">
    <link href="./../bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <!-- module -->

    <script src="./js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="./js/core.js"></script> <!-- load our main application -->
    
    <link rel="stylesheet" href="./css/style.css">

</head>
<body ng-app="mainApp" ng-controller="mainController" class="width-100 container no-padding no-margin" layout="column" layout-align="start center">
    <div class="main-layout">
        <custom-table class="width-100" on-show-company="onCompanyDetails(company)" ng-if="selection == 'CompanyList'"></custom-table>
        <company class="width-100"  back-to-list-stock="onBackToListStock()" company="company" ng-if="selection == 'Company'"></company>
    </div>

</body>
</html>
